:root {
    --brand-color: #212121;
    --background-color: #f5f5f5;
    --total-white: #ffffff;
    --blue-color: #2196f3;
    --p-color: #757575;
    --background-black: #2f303a;
    --hov-foc: #000000;
    --background-btn: #f5f4fa;
  }
  