/* секція герой */
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 100%;
    margin: 0 auto;
  
  
    background-color: rgba(47, 48, 58, 0.4);
    background-image: var(--gradient),
      url(../images/Hero-bg-mob.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

    @include retina {
        background-image: var(--gradient),
        url(../images/Hero-bg-mob-2x.jpg);
      }

      color: var(--total-white);
      text-align: center;

    @include mobile {
      background-image: var(--gradient),
        url(../images/Hero-bg-tab.jpg);

        @include retina {
        background-image: var(--gradient),
        url(../images/Hero-bg-tab-2x.jpg);
      }
    }

    @include tablet {
      background-image: var(--gradient),
      
        url(../images/Heroback.jpg);

        @include retina {
        background-image: var(--gradient),
        url(../images/Herobck-2x.jpg);
      }
    }

    @include desktop {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px; 
        }
  }
  .hero h1 {
    margin-top: 0;
    margin-bottom: 30px;
    
    @include font (null, 900, 26px, 1.61);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: var(--total-white);

    @include desktop {
      @include font (null, 900, 44px, 1.36);
        }
  }
  