/* секція герой */
.hero {
    text-align: center;

    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 100vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  
    background-color: rgba(47, 48, 58, 0.4);
    color: var(--total-white);
    

    background-image: var(--gradient),
      url(../images/Hero-bg-mob.jpg);
      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

    @include retina {
        background-image: var(--gradient),
        url(../images/Hero-bg-mob-2x.jpg);
      }

  
      @include tablet {
        padding-top: 118px;
        padding-bottom: 118px;

        background-image: var(--gradient),
        url(../images/Hero-bg-tab.jpg);

        @include retina {
              background-image: var(--gradient),
              url(../images/Hero-bg-tab-2x.jpg);
            
      }
    }
        

    @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
        max-width: 1600px;

        background-position: left;

        background-image: var(--gradient),
        url(../images/Hero-bck.jpg);

        @include retina {
          background-image: var(--gradient),
        url(../images/Herobck-2x.jpg);
      }
    }
  }

  .hero h1 {
    margin-top: 0;
    margin-bottom: 30px;
    
    @include font (null, 900, 26px, 1.61);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: var(--total-white);

    @include desktop {
      @include font (null, 900, 44px, 1.36);
        }
  }
  